---
import { Icon } from "astro-icon/components";
import { LINK_LIST } from "@/consts";
const today = new Date();
---

<footer
  class="px-4 pt-12 pb-32 text-center transition-colors text-[rgb(var(--gray))] dark:text-stone-100 bg-[linear-gradient(var(--gray-gradient))] dark:bg-none dark:bg-stone-900 dark:border-t dark:border-t-stone-400 bg-no-repeat"
>
  <p class="flex w-full text-center gap-3 justify-center">
    Built by @Abdelghafour122 in
    <Icon name="dzflag" size={30} title="algeria" />
  </p>
  &copy; {today.getFullYear()} All rights reserved.
  <ul class="social-links flex flex-row justify-center gap-4 mt-4">
    {
      LINK_LIST.map((link) => (
        <li class="p-1">
          <a
            href={link.href}
            target="_blank"
            class="transition-colors text-[rgb(var(--gray))] dark:text-[rgb(var(--gray-light))] hover:text-[rgb(var(--gray-dark))] dark:hover:text-[rgb(var(--gray))]"
          >
            <span class="sr-only">{link.sronlyText}</span>
            <Icon name={link.iconName} size={30} title={link.iconName} />
          </a>
        </li>
      ))
    }
  </ul>
</footer>
