---
import BaseHead from "@components/BaseHead.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";
import FormattedDate from "@components/FormattedDate.astro";

const projects = (await getCollection("projects")).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf(),
);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="bg-stone-50 dark:bg-stone-900">
    <Header />
    <main class="w-[960px]">
      <section>
        <ul class="flex flex-wrap gap-4 sm:gap-6 md:gap-8 m-0 p-0">
          {
            projects.map((project) => (
              <li class="group/item w-full text-center md:w-[calc(50%_-_1rem)] md:text-left first:w-full first:mb-0 md:first:mb-4 first:text-center">
                <a
                  href={`/projects/${project.slug}/`}
                  class="group/link [&_>_*]:transition"
                >
                  <img
                    width={720}
                    height={360}
                    src={project.data.heroImage}
                    alt="projects-hero-img"
                    class="mb-2 rounded-xl group-hover/link:shadow-2xl group-first/item:w-full"
                  />
                  <h4 class="title m-0 text-[rgb(var(--black))] dark:text-stone-200 leading-none group-hover/link:text-[rgb(var(--accent))] group-first/item:text-[2.369rem]">
                    {project.data.title}
                  </h4>
                  <p class="date m-0 text-[rgb(var(--gray))] group-hover/link:text-[rgb(var(--accent))]">
                    <FormattedDate date={project.data.pubDate} />
                  </p>
                </a>
              </li>
            ))
          }
        </ul>
      </section>
    </main>
    <Footer />
  </body>
</html>
